@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.925rem;
}

a {
  text-decoration: none;
}
/* Container */
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.navbar,
.navbar > .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .navbar,
  .navbar > .container {
    display: block;
  }
}
.navbar {
  position: fixed;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 1rem 1.15rem;
  border-bottom: 1px solid #eceef3;
  z-index: 999;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #3c4250;
}
.navbar .navbar-menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu.active {
  display: flex !important;
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #eee;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #3c4250;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #66f;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eceef3;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #66f;
}
.navbar .navbar-header > a span {
  color: #66f;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}
/*
  |-----------------------------------
  | End navbar   
  |-----------------------------------
  */
/*
  |-----------------------------------
  | Start About Section
  |-----------------------------------
  */

.AboutMeSection {
  background-color: inherit;
  height: 100vh;
}
.about-wrapper {
  height: 100vh;
}
.about-left {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}
.about-left-content > div {
  background: #12192c;
  padding: 4rem 4rem 2.5rem 5rem;
  text-align: center;

  border-radius: 12px 12px 0 0;
}
.about-left-content {
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  border-radius: 12px;
  width: 80%;
}
.about-img img {
  display: block;
  width: 200px;
}
.about-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.shadow {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.about-left-content h2 {
  font-size: 2rem;
  margin: 2.2rem 0 0.6rem 0;
  line-height: 1.2;
  padding-bottom: 1rem;
  border-bottom: 2px solid #b721ff;
}
.about-left-content h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 1.2rem;
}
.icons {
  background: #12192c;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
  border-radius: 0 0 12px 12px;
}
.icons li {
  list-style-type: none;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-left: 30px;
}

.about-right {
  background: #12192c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  text-align: center;
  color: #fff;
}
.about-right h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
.about-right h1 span {
  color: #b721ff;
}
.about-right h2 {
  font-weight: 600;
}
.about-btns {
  display: flex;
  margin: 2rem 0;
}
.btn {
  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 0.55rem 0;
  width: 130px;
  font-weight: 600;
  background: transparent;
  margin: 0 0.5rem;
  cursor: pointer;
  color: #fff;
}
.btn.btn-pink {
  background: #b721ff;
  color: #fff;
  border-color: #b721ff;
  transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover {
  background: transparent;
  border-color: #fff;
  color: #fff;
}
.btn.btn-white {
  transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover {
  background: #b721ff;
  border-color: #b721ff;
  color: #fff;
}
.about-para p {
  font-weight: 300;
  padding: 0.5rem;
  opacity: 0.8;
}

@media screen and (min-width: 992px) {
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  .about-left {
    position: relative;
  }
  .about-left-content {
    position: absolute;
    width: 80%;
  }
}
/*
  |-----------------------------------
  | End About Section   
  |-----------------------------------
  */
/*
  |-----------------------------------
  | Start My Technologies
  |-----------------------------------
  */

.technologieswrappersection {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* Skills Section */
.skills-section {
  padding: 60px 100px;
  background-color: #fff;
  text-align: center;
}

.skills-section h2 {
  margin-bottom: 40px;
}

.skills-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-list li {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.skills-list li:hover {
  background-color: #b721ff;
}

/* Projects Section */
.projects-section {
  padding: 60px 0;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  text-align: center;
}

.projects-section h2 {
  margin-bottom: 40px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: #12192c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.project-card p,
h3 {
  padding-top: 20px;
  color: white;
}

.project-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-card:hover {
  transform: translateY(-10px);
}
